@import "reset";
@import "media";

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
}

#header {
  z-index: 100;
  background: url("../img/main-screen__bgc.png") no-repeat center/cover;
  min-height: 110vh;
  position: relative;

  .header {
    padding: 20px 0;

    &--ul {
      @include uls;
    }

    .burger {
      @include burger;
    }


    &--block {
      @include between;

      button {
        @include btn

      }

      button:hover {
        transform: scale(1.1);
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        color: black;
      }
    }

    &--nav {
      font-size: 12px;
      color: #FFFFFF;

      a {
        padding: 0 20px;
      }

      a:hover {
        text-decoration-line: underline;
      }
    }

    &--lorem {
      padding: 15% 0;
      font-size: 23px;
      line-height: 250%;
      color: #FFFFFF;
    }

    .data {
      color: #FFFFFF;
      @include hours;
    }

  }
}

#section {
  background: #121212;

  .section {

    .hero {
      padding: 50px 0;
      @include between;

      p {
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        opacity: 0.5;
      }


      h1 {
        font-style: italic;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
      }

      &--lorem {
        font-size: 17px;
        width: 200px;
        margin: 20px 0;

      }

      button {
        @include btn;
        width: 169px;
        background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
        border-radius: 50px;
      }

      button:hover {
        background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
        color: hsl(0, 0%, 20%);
        transform: scale(1.1);
      }
    }


  }
}

#java {
  min-height: 200vh;
  padding: 10% 0;
  background: #121212;

  .java {
    &--pro {
      width: 446px;
      height: 459px;
      border: 30px solid #C89AFC;
    }

    &--loader {
      @include animate;
    }

    @keyframes rotate {
      to {
        transform: rotate(1000deg);
      }

    }

    &--text {
      margin-left: 50%;

      h1 {
        @include h1;
      }

      p {
        @include p;
      }
    }

    &--long {
      padding: 20% 0;
      @include between;
      width: 30%;

      h1 {
        font-size: 28px;
        color: #002b99;
      }

      span {
        color: #63d471;
      }
    }

    &--lav {
      margin: -190px 0;

      p {
        @include m;
      }

      img {
        width: 1140px;
        padding: 90px 0;
      }
    }

  }
}

#phone {
  background: rgb(18, 18, 18);
  min-height: 100vh;

  .phone {

    h1 {
      text-align: center;
      font-size: 30px;
      color: #FFFFFF;
    }

    &--block {
      width: 300px;
      height: 350px;
    }

    &--top {
      padding: 120px 0;
      @include between;

      img {
        margin-left: 100px;
      }

      p {
        @include var;
      }

      h1 {
        @include pro;
      }

    }
  }
}

#git {
  background: rgb(18, 18, 18);
  min-height: 100vh;

  .git {

    &--loader {
      @include loader;

      h1 {
        @include lamp;

      }
    }

    &--logo {
      @include even;
    }

    &--hr {
      margin-top: -50px;
    }

    &--logo-twu {
      @include uo;
    }
  }
}

#nav {
  background: rgb(18, 18, 18);
  min-height: 100vh;

  .nav {
    @include anima-one;

    &--tel {
      h1 {
        @include h34;
      }

      p {
        @include p12;
      }
    }

    &--details {
      @include details;

      h1 {
        padding: 20px 0;
        font-size: 25px;
        line-height: 150%;
      }
    }

    &--blocks {
      flex-wrap: wrap;
      padding: 80px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

#never {
  background: rgb(18, 18, 18);
  min-height: 100vh;

  .never {
    &--anima {
      @include animation3d;
      padding: 90px 0;

      h1 {
        @include lamp;
      }
    }

    &--block {
      @include even;

      h1 {
        @include h33;
      }

      p {
        @include p33;
      }

      button {
        @include btn22;

      }

      button:hover {
        @include hovers;
      }
    }
  }
}

#footer {
  background: rgb(18, 18, 18);
  min-height: 100vh;

  .footer {
    padding: 50px 0;


    p {
      @include p22;
    }

    &--aino {
      animation: head 8s ease-in-out;
      margin-left: 300px;
    }

    @keyframes head {
      0% {
        transform: translateY(-100px);
      }
      50% {
        //transform: translateX(-1000px);
      }
      80% {
        transform: translateX(-100px);
      }
    }

    &--web {
      @include even;
      margin-top: -70px;
      @include bro;

      ion-icon {
        font-size: 70px;
      }
    }

    &--text {
      text-align: center;
      color: white;
      font-family: Andale Mono, monospace;
    }

    &--ion {
      @include ion2;
      margin-left: 505px;

      ion-icon {
        @include ux;
      }
    }
  }
}

